.main-navigation-section {
    padding: 12px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}

.main-navigation{
    margin: 0;
    padding: 0;
}

.main-navigation li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation li > a {
    font-family: 'Roboto', sans-serif;
    padding: 12px 10px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.main-navigation li > a:hover,
.main-navigation li > a:focus,
.main-navigation li > a:active,
.main-navigation li > a.active{
    color: #194e89;
    text-decoration: underline;
    /* font-weight: 700; */
}