@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-weight: 300;
}

.clearfix{
  float: none;
  clear: both;
}

.cardlist{
  margin: 0;
  padding: 0;
  text-align: center;
}

.section-title{
  text-align: center;
  font-size: 46px;
  color: #194e89;
  margin: 2rem auto;
}

.banner-clearance{
  max-width: 100%;
  margin: 30px auto;
}

.para p{
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
}

.home-para{
  padding-bottom: 30px;
}

.blu-btn{
  background-color: #1377c9;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 12px 40px;
  box-shadow: none;
  outline: 0;
  border-radius: 3px;
  cursor: pointer;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.blu-btn:hover,
.blu-btn:focus{
  background-color: #194e89;
  color: #fff;
}

.cta-wrap{
  margin-left: -10px;
  margin-right: -10px;
}

.cta-wrap .cta-box{
  float: left;
  width: 33.3334%;
  padding: 0 10px;
  box-sizing: border-box;
}

.cta-wrap .cta-box p{
  margin-left: 30px;
}

.cta-wrap .cta-box img{
  width: 100%;
}